.gift-section {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-in-out;
    color: #000;
    .gift-section:hover & {
      opacity: 1;
    }
  }

  .gift-section-img {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
      transition: transform 0.5s ease-in-out;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 768px) {
  .gift-section {
    padding: 10px;

    h2 {
      font-size: 1.5rem;
    }

    .gift-section-img img {
      max-width: 80%;
    }
  }
}

@media (max-width: 480px) {
  .gift-section {
    padding: 5px;

    h2 {
      font-size: 1.2rem;
    }

    .gift-section-img img {
      max-width: 100%;
    }
  }
}
